@import 'theme.scss';

* {
    all: unset;
    font-size: 18px;
}

.toggled {
    background: rgba(255, 255, 255, 0.1);
}

.clock {
    font-weight: bold;
    min-width: 130px;
}

.workspace {
    background: rgba(100, 100, 255, 0.2);
    border-bottom: 2px solid white;
    min-width: 20px;
}
.workspaceactive {
    background: rgba(100, 100, 255, 0.7);
    font-weight: bold;
    border-bottom: 3px solid white;
    min-width: 20px;
}

.battery {
    color: $ok-color;
    circular-progress {
        label {
            font-size: 22px;
            margin: 8px;
        }
    }
}

.memory {
    color: $warn-color;
    circular-progress {
        label {
            font-size: 16px;
            margin: 10px 10px 10px 9px;
        }
    }
}

.volume {
    color: #a576fc;
    border-bottom: 2px solid #a576fc;
}

.microphone {
    color: #ff4040;
    border-bottom: 2px solid #ff4040;
}

.brightness {
    color: #fcf950;
    border-bottom: 2px solid #fcf950;
}

.battery {
    color: #90F090;
    border-bottom: 2px solid #90F090;
}

.memory {
    color: #DEC284;
    border-bottom: 2px solid #DEC284;
}

.cpu {
    color: #F7886D;
    border-bottom: 2px solid #F7886D;
}

tooltip {
    background: $base-bg;
}

.baricon {
    font-size: 22px;
    margin-right: 6px;
}

.barbutton {
    border-radius: 0px;
    transition-duration: 100ms;
    &:hover {
        border-bottom: 1px solid;
        border-top: 1px solid;
    }
    &:active {
        border-bottom: 3px solid;
        border-top: 3px solid;
    }
}

.bar {
    background: $base-bg;
    padding: 2px 12px;
}
