@import 'theme.scss';

* {
    all: unset;
    font-size: 18px;
}

.battery {
    color: $ok-color;
    circular-progress {
        label {
            font-size: 22px;
            margin: 8px;
        }
    }
}

.memory {
    color: $warn-color;
    circular-progress {
        label {
            font-size: 16px;
            margin: 10px 10px 10px 9px;
        }
    }
}

.volume {
    color: #a576fc;
    border-bottom: 2px solid #a576fc;
}

.brightness {
    color: #fcf950;
    border-bottom: 2px solid #fcf950;
}

.battery {
    color: #90F090;
    border-bottom: 2px solid #90F090;
}

.memory {
    color: #DEC284;
    border-bottom: 2px solid #DEC284;
}

.cpu {
    color: #F7886D;
    border-bottom: 2px solid #F7886D;
}

.baricon {
    font-size: 22px;
    padding-right: 6px;
}

.barbutton {
    border-radius: 0px;
    transition-duration: 200ms;
    &:hover {
        border-bottom: 1px solid white;
        border-top: 1px solid white;
    }
    &:active {
        border-bottom: 3px solid white;
        border-top: 3px solid white;
    }
}

.bar {
    background: $base-bg;
    padding: 2px;
}
