$bg: #1A1B26;
$color: #FFFFCC;

* {
  all: unset;
  font-size: 18px;
  font-weight: bold;
  font-family: FiraCodeNerdFontMono;
}

popover {
  background: $bg;
  border: 3px solid $color;
  border-top: none;
  border-radius: 0 0 10px 10px;
  padding: 5px 20px 5px 20px;
  min-height: 10px;
}

#bar {
  background: $bg;
  border: 3px solid $color;
  border-top: none;
  border-radius: 0 0 10px 10px;
  padding: 5px 20px 5px 20px;
}
