@use "theme" as *;

* {
    font-size: $font-small;
}

window {
    background: $window-bg;
    color: $window-fg;
    border: $window-border;
    border-radius: $border-radius-medium;
}

icon {
    margin-left: $icon-margin;
    margin-right: $icon-margin;
    font-size: $icon-size;
}

button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    &:hover {
        background: $color-primary;
    }
    &:active {
        background: $color-primary-1;
    }
}

.battery {
    &.high {
        color: $color-ok;
    }
    &.medium {
        color: $color-warn;
    }
    &.low {
        color: $color-error;
    }
}
