@use "theme" as *;

* {
    font-size: $font-small;
}

.error {
    color: $color-error;
    box-shadow: none;
    background: none;
}

window {
    background: $window-bg;
    color: $window-fg;
    border: $window-border;
    border-radius: $border-radius-small;

    &.app_launcher {
        background: none;
        border: none;
        & > box {
            background: $window-bg;
            border-radius: 30px;
            border: 2px solid $color-primary;
            padding: 15px;
        }
        & flowbox {
            min-width: 1200px;
            min-height: 600px;
            outline: none;
            border: none;
        }
        & scrollable {
            border: none;
            outline: none;
            margin: 15px;
            
            & overshoot {
                outline: none;
            }
            & undershoot {
                outline: none;
            }
        }
        & icon {
            font-size: 64px;
        }
        & entry {
            padding: 15px;
            border-radius: 30px;
            margin: 10px;
            font-size: 40px;
            min-height: 60px;
        }
    }

    &.quick_menu {
        background: none;
        outline: none;
        & > box {
            padding: 15px;
            border-radius: 30px;
            background: $window-bg;
            border: 2px solid $color-primary;
        }
        & button {
            &.toggle {
                margin: 10px;
                padding: 10px;
                border-radius: 15px;
                & icon {
                    font-size: 64px;
                }
            }
            &.subtle {
                border-radius: 5px;
                & icon {
                    font-size: 32px;
                }
            }
        }
        & scrollable {
            border: none;
            outline: none;
            margin: 15px;
            
            & overshoot {
                outline: none;
            }
            & undershoot {
                outline: none;
            }
        }
        & entry {
            padding: 15px;
            border-radius: 30px;
            margin: 10px;
            font-size: 40px;
            min-height: 60px;
        }
        & scale {
            min-width: 300px;
            & + label {
                font-size: $icon-size;
                min-width: 60px;
            }
        }
    }
}

icon {
    margin-left: $icon-margin;
    margin-right: $icon-margin;
    font-size: $icon-size;
}

button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    &.subtle {
        &:hover {
            background: $window-bg-1;
            border-radius: 15px;
        }
    }
    & .slider_icon {
        font-size: $icon-size;
    }
    &:hover {
        background: $color-primary;
    }
    &:active {
        background: $color-primary-1;
    }
    &.toggle {
        &.active {
            background: $color-secundary;
            &:hover {
                background: $color-secundary-1;
            }
        }
    }
}

separator {
    background: $window-bg-1;
    margin: 6px;
    min-width: 2px;
    min-height: 2px;
}

.battery {
    &.high {
        color: $color-ok;
    }
    &.medium {
        color: $color-warn;
    }
    &.low {
        color: $color-error;
    }
}

.workspaces {
    min-width: 220px;
}
.workspace {
    &-active, &-idle, &-empty, &-urgent {
        border-radius: 0;
        padding: 0;
        font-size: 0;
        &:hover {
            background: none;
        }

        box {
            margin: 0 5px;
            border-radius: 50%;
            transition-duration: 0.2s;
        }
    }

    &-urgent, &-idle, &-empty {
        &:hover box {
            background: $color-primary-1;
        }
    }

    &-empty{
        min-width: 11px;
        &:hover box {
            margin: 8px 3px;
            border-radius: 25%;
        }
        box {
            background: gray;
            margin: 13px 3px;
        }
    }

    &-urgent box {
        background: white;
        min-width: 6px;
        margin: 9px 4px;
        border: 4px solid $color-secundary;
    }
    
    &-idle {
        &:hover box {
            margin: 6px 4px;
            border-radius: 25%;
        }
        & box {
            background: white;
            min-width: 11px;
            margin: 10px 4px;
        }
    }

    &-active box {
        background: $color-primary;
        min-width: 30px;
        border-radius: 5px;
        margin: 10px 3px;
    }
}

flowboxchild {
    & button:focus {
        outline: 2px solid $color-primary;
    }
    & icon {
        font-size: 64px;
    }
}
