$window-bg: #101010;
$window-bg-1: #202020;
$window-bg-2: #404040;

$window-fg: #ffffff;

$window-border: none;

$color-primary: #F7886D;
$color-primary-1: #FE957A;

$color-secundary: #CFA78B;
$color-secundary-1: #FEE3C0;

$color-ok: #90f090;
$color-warn: #f0c070; 
$color-error: #f05050;

$font-small: 18px;

$icon-size: 20px;
$icon-margin: 6px;

$border-radius-big: 10px;
$border-radius-medium: 6px;
$border-radius-small: 0px;
