$window-bg: #101010;
$window-bg-1: #404040;
$window-fg: #ffffff;

$window-border: none;

$color-primary: #BD93F9;
$color-primary-1: #DDB3FF;

$color-ok: #90f090;
$color-warn: #f0c070; 
$color-error: #f05050;

$font-small: 18px;

$icon-size: 20px;
$icon-margin: 6px;

$border-radius-big: 10px;
$border-radius-medium: 6px;
$border-radius-small: 0px;
